<div >
  
  <app-navbar></app-navbar>
  
  
  
  <br>
  
  <div class='body'>      
    <router-outlet></router-outlet>
  </div>      
  
  <br>
  <br>
  <br>
      
  <footer class="footer navbar fixed-bottom">
      
      <div class="container">
        
        <div class="row">
          <div class="col-8 text-muted">Coded by Ivan Zvonkov</div>
           <div class="col-2"> <a class="link text-muted" routerLink="/privacy-policy">Privacy Policy</a> </div>
           <div class="col-2"> <a class="link text-muted" routerLink="/dmca">DMCA Policy</a> </div>
        </div>
        
      </div>
    </footer>
  
  
</div>


